<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <title>Add Nilai</title>
  </head>
  <body>
    <div class="container w-50 pt-5 mt-5">
      <h2>Add Nilai</h2>
      <form action="/nilai" method="post" class="card p-4">
        <div class="mb-3">
          <label class="">Mhs:</label>
          <select name="id_mhs" class="rounded">
            <% for (nilai of nilais) { %>
            <option value="<%= nilai.id_mhs %>"><%= nilai.id%></option>
            <% } %>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label">Id Mhs</label>
          <input type="text" class="form-control" name="id_mhs" />
        </div>

        <div class="mb-3">
          <label class="form-label">Kd Matkul</label>
          <input type="text" class="form-control" name="kd_matkul" />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
</html>
