<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container w-50 mx-auto pt-5">
      <h2 class="pt-4 text-center">Data Mahasiswa</h2>
      <a href="/add-mahasiswa" class="btn btn-sm bg-success text-white mt-2"
        >Add Mahasiswa</a
      >

      <table class="table table-striped mt-4">
        <thead class="bg-dark text-white">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Alamat</th>
            <th scope="col" class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <% for (index in mahasiswas) { %>
          <tr>
            <th scope="row"><%= (Number(index) + 1) %></th>
            <td><%= mahasiswas[index].name %></td>
            <td><%= mahasiswas[index].address %></td>
            <td class="text-center">
              <form method="POST" action="/delete-mahasiswa">
                <a
                  class="btn btn-sm btn-primary"
                  href="/edit-mahasiswa/<%= mahasiswas[index].id %>"
                  >Edit</a
                >
                <input type="hidden" name="_method" value="DELETE" />
                <input
                  type="hidden"
                  name="id"
                  value="<%= mahasiswas[index].id %>"
                />
                <button class="btn btn-sm btn-danger" type="submit">
                  Delete
                </button>
              </form>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <a href="/dashboard" class="btn btn-sm btn-primary mt-2"
        >Back to Dashboard</a
      >
    </div>
  </body>
</html>
