<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container w-50 mx-auto pt-5">
      <h2 class="pt-4">Matkul</h2>
      <a href="/add-matkul" class="btn btn-success btn-sm mt-2">Add Matkuls</a>
      <table class="table table-striped mt-4">
        <thead class="bg-dark text-white">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Kd Matkul</th>
            <th scope="col">Nama Matkul</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% for (index in matkuls) { %>
          <tr>
            <th scope="row"><%= (Number(index) + 1) %></th>
            <td><%= matkuls[index].kd_matkul %></td>
            <td><%= matkuls[index].nama_matkul %></td>
            <td>
              <form method="POST" action="/delete-matkul">
                <a
                  class="btn btn-sm btn-success"
                  href="/edit-matkul/<%= matkuls[index].id %>"
                  >Edit</a
                >
                <input type="hidden" name="_method" value="DELETE" />
                <input
                  type="hidden"
                  name="id"
                  value="<%= matkuls[index].id %>"
                />
                <button class="btn btn-primary btn-sm" type="submit">
                  Delete
                </button>
              </form>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <a href="/dashboard" class="btn btn-sm btn-primary mt-2"
        >Back to Dashboard</a
      >
    </div>
  </body>
</html>
