<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container w-75 mx-auto pt-5 mt-5">
      <h2 class="pt-4">Nilai</h2>
      <a href="/add-nilai" class="btn btn-sm btn-success mt-2">Add Nilai</a>
      <table class="table mt-4 table-striped">
        <thead class="bg-dark text-white">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">ALamat</th>
            <th scope="col">Kd Matkul</th>
            <th scope="col">Nama Matkul</th>
            <th scope="col">Nilai</th>
            <th scope="col" class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <% for (index in nilais) { %>
          <tr>
            <th scope="row"><%= (Number(index) + 1) %></th>
            <td><%= nilais[index].mahasiswa.name %></td>
            <td><%= nilais[index].mahasiswa.address %></td>
            <td><%= nilais[index].matkul.kd_matkul %></td>
            <td><%= nilais[index].matkul.nama_matkul %></td>
            <td><%= nilais[index].nilai %></td>
            <td class="text-center">
              <form method="POST" action="/delete-nilai">
                <a
                  class="btn btn-sm btn-success"
                  href="/edit-nilai/<%= nilais[index].id %>"
                  >Edit</a
                >
                <input type="hidden" name="_method" value="DELETE" />
                <input
                  type="hidden"
                  name="id"
                  value="<%= nilais[index].id %>"
                />
                <button class="btn-sm btn btn-danger" type="submit">
                  Delete
                </button>
              </form>
            </td>
          </tr>

          <% } %>
        </tbody>
      </table>
      <a href="/dashboard" class="btn btn-sm btn-primary mt-2"
        >Back to Dashboard</a
      >
    </div>
  </body>
</html>
